*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
}
body{
    background-color: #142F43;
}

.title{
    font-size: 1.5rem;
    text-align: center;
    transform: translateY(10rem);
    color: rgb(170, 182, 204);
    font-weight: 400;
    animation: color-change 10s alternate-reverse infinite;
}

@keyframes color-change {
    0%{
        color: blueviolet;
    }
    25%{
        color: bisque;
    }
    50%{
        color: yellow;
    }
    100%{
        color: wheat;
    }
}

h1{
    display: inline;
    border: 2px solid whitesmoke;
    padding:  20px 2.1rem;
    border-radius: 5px;
}

.content{
    display: flex;
    justify-content: center;
    transform: translateY(12rem);
}

input[type=button]{
    width: 100%;
    background-color: blueviolet;
    color: aliceblue;
    border: 2px solid skyblue;
    padding: 10px 20px;
    margin: 3px;
    transition: all 0.3s linear;
    border-radius: 5px;
    font-size: 1rem;
}

#calc-table{
    border: 2px solid rgb(206, 226, 114);
    padding: 10px;
    border-radius: 5px;
}

input[type=button]:hover{
    background-color: rgb(188, 206, 108);
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgb(188, 206, 108);
    color: darkblue;
    font-weight: bolder;
}

input[type=text]{
    border: 2px solid rgb(201, 141, 141);
    width: 100%;
    padding: 10px 6px;
    margin-left: 3px;
    background-color:greenyellow;
    color:black;
    text-align: center;
    border-radius: 5px;
}
p{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 20px;
    font-size: 1.5rem;
}
i{
    color: blueviolet;
    animation: color-change 10s reverse infinite;
    font-weight: bolder;
}
